.btn {
  background-color: white;
  color: rgb(55, 74, 93);
  font-family: monospace;
  font-weight: bold;
  display: inline;
  padding-top: 5%;
  padding-bottom: 5%;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(138, 138, 138);
}
