.tempNowInfo ul li {
  list-style: none;
  text-align: start;
}
.tempNowInfo {
  margin-top: 10%;
  color: white;
  font-family: monospace;
  font-weight: bold;
  font-size: xx-large;
  margin-right: 2%;
}
@media only screen and (max-width: 600px) {
  .tempNowInfo {
    font-size: small;
    margin-top: 0;
  }
}
